.container {
    width: 1500px;
}

.col_300 {
    width: 300px;
    padding-right: 10px;
}

.col_250 {
    width: 250px;
    padding-right: 10px;
}

.col_200 {
    width: 200px;
    padding-right: 10px;
}

.col_150 {
    width: 150px;
    padding-right: 10px;
}

.col_100 {
    width: 100px;
    padding-right: 10px;
}

.col_50 {
    width: 50px;
    padding-right: 10px;
}